#el {
  --color-stop: deeppink;
  background: linear-gradient(white, var(--color-stop));
  transition: --color-stop 1s;
  width: 152px;
  height: 152px;
  margin: 50px auto;
  border-radius: 10px;
}
#el:hover {
  --color-stop: deepskyblue;
}

/* @property --color-stop {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
} */